body {
  margin: 0;
  background-color: red;
}

.main_index {
  background-color: #FFFFFF;
}

/* Wrappers */

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.header_wrapper {
  background-color: #FFE17F;
}

.catalog_image_wrapper {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.gray_background_wrapper {
  background-color: #F0F0F0;
}

.small_section_wrapper {
  width: 580px;
  margin: 0 auto; /* Ne uveren */
}

.footer_wrapper {
  background-color: #444444;
}

/* .catalog_main_wrapper {
  background-color: #F0F0F0;
} */
