body {
  margin: 0;
  background-color: red;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.header_wrapper {
  background-color: #FFE17F;
}

.main_index {
  background-color: #FFFFFF;
}

.catalog_image_wrapper {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.gray_background_wrapper {
  background-color: #F0F0F0;
}
